.products-grid .product-item .wishlist-btn {
    position: absolute !important;

    top: 15px !important;
    right: 15px !important;

    width: 42px !important;
    height: 42px !important;

    min-width: 42px !important;
    min-height: 42px !important;

    padding: 0 !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    border-radius: 50% !important;
    border: none !important;

    background: white !important;

    font-size: 28px !important;
    line-height: 1 !important;

    color: #777 !important;

    cursor: pointer !important;

    z-index: 9999 !important;

    box-shadow: 0 5px 15px rgba(0,0,0,.15) !important;
}
.wishlist-btn {
    font-size: 24px !important;
    color: #555 !important;
}

.wishlist-btn:hover {
    color: #b00020 !important;
    transform: scale(1.15);
}

.wishlist-btn.active {
    color: #b00020 !important;
}