@import 'components/header.css';
@import 'components/hero.css';
@import 'components/products.css';
@import 'components/auth.css';
@import 'components/footer.css';
/* 2. Responsive-ը լավ է լինի վերջում, որպեսզի վերագրի մյուսները */
@import 'responsive.css';
/* Այստեղ կարող ես թողնել միայն ընդհանուր բաները՝ գույներ, ֆոնտեր, Reset */
body { margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; }

/* ================= VARIABLES & RESETS ================= */
:root {
    --primary-color: #191918; /* Luxury Gold */
    --hermitage-dark: #210207; /* Օրիգինալ մուգ բորդո (Top Header) */
    --hermitage-nav-bg: #330c13; /* Մենյուի ֆոնը (Main Nav) */
    --bg-dark: #111111;
    --text-light: #ffffff;
    --text-muted: #e0e0e0;
    --border-color: rgba(255, 255, 255, 0.08);
    --font-serif: 'Cormorant Garamond', serif;
    --font-sans: 'Montserrat', sans-serif;
    --transition: all 0.4s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans);
    background-color: var(--bg-dark);
    color: var(--text-light);
    overflow-x: hidden;
    padding-top: 120px;
}



a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Dropdown-ի կայուն տարբերակ */
.dropdown { position: relative; }
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3d1c21;
    min-width: 250px;
    z-index: 9999;
    padding: 10px 0;
}
.dropdown:hover .dropdown-menu { display: block; }
.dropdown-menu li a {
    display: block;
    padding: 12px 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}

.top-container {
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
}