<header class="header">
    <div class="header-top">
        <div class="container top-container">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search...">
            </div>
            <div class="logo">
                <a href="index.html">HERMITAGE</a>
            </div>
            <div class="header-right-tools">
                <a href="#" class="tool-link">
                    <i class="fa-regular fa-user"></i> Login
                </a>
                <a href="pages/cart.html" class="tool-link cart-link">
                    <i class="fa-solid fa-bag-shopping"></i> <span>0</span>
                </a>

                <div class="lang-dropdown">
                    <button class="lang-btn" id="currentLang">
                        Eng <i class="fa-solid fa-caret-down"></i>
                    </button>
                    <div class="lang-menu" id="langMenu">
                        <a href="#" data-lang="eng" class="lang-item active">Eng</a>
                        <a href="#" data-lang="arm" class="lang-item">Հայ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-nav">
        <div class="container nav-container">
            <div class="nav-brand-icon">
                <span class="h-box">H</span>
            </div>
            <ul class="nav-links">
                <li class="dropdown">
                    <a href="#" class="shop-link">SHOP</a> <ul class="dropdown-menu">
                    <li><a href="pages/perfume.html">PERFUME</a></li>
                    <li><a href="pages/makeup.html">MAKEUP <i class="fa-solid fa-chevron-right"></i></a></li>
                    <li><a href="pages/care.html">CARE <i class="fa-solid fa-chevron-right"></i></a></li>
                    <li><a href="pages/gift-sets.html">GIFT SETS</a></li>
                    <li><a href="pages/home-other.html">HOME & OTHER <i class="fa-solid fa-chevron-right"></i></a></li>
                    <li><a href="pages/for-kids.html">FOR KIDS</a></li>
                </ul>
                </li>
                <li><a href="pages/brands.html">BRANDS</a></li>
                <li><a href="pages/gift-card.html">GIFT CARD</a></li>
                <li><a href="pages/contact.html">CONTACTS</a></li>
                <li><a href="pages/blog.html">BLOG</a></li>
            </ul>
        </div>
    </nav>
</header>